<age-gate
  class="age-gate"
  data-editor="{{ request.design_mode }}"
>
  <form class="age-gate__modal" action="#">
    <div class="age-gate__logo">
      <div clclass="link link--text focus-inset hidden--mobile">
        {%- if settings.logo_svg != blank -%}
          {{ settings.logo_svg }}
        {%- elsif settings.logo != blank -%}
          {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
          {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
          {% capture sizes %}(min-width: 750px) {{ settings.logo_width }}px, 50vw{% endcapture %}
          {% capture widths -%}
          {{- settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }},
          {{ settings.logo_width | times: 2 -}}
        {%- endcapture %}
          {{
            settings.logo
            | image_url: width: 600
            | image_tag:
              class: 'header__heading-logo',
              widths: widths,
              height: logo_height,
              width: settings.logo_width,
              alt: logo_alt,
              sizes: sizes,
              preload: true
          }}
        {%- else -%}
          <span class="h2">{{ shop.name }}</span>
        {%- endif -%}
      </div>

      <div class="link link--text focus-inset hidden--desktop">
        {%- if settings.logo_svg_mobile != blank -%}
          {{ settings.logo_svg_mobile }}
        {%- elsif settings.logo_mobile != blank -%}
          {%- assign logo_alt = settings.logo_mobile.alt | default: shop.name | escape -%}
          {%- assign logo_height = settings.logo_width_mobile | divided_by: settings.logo_mobile.aspect_ratio -%}
          {% capture sizes %}(min-width: 750px) {{ settings.logo_width_mobile }}px, 50vw{% endcapture %}
          {% capture widths -%}
            {{- settings.logo_width_mobile }}, {{ settings.logo_width_mobile | times: 1.5 | round }},
            {{ settings.logo_width_mobile | times: 2 -}}
          {%- endcapture %}
          {{
            settings.logo_mobile
            | image_url: width: 600
            | image_tag:
              class: 'header__heading-logo',
              widths: widths,
              height: logo_height,
              width: settings.logo_width,
              alt: logo_alt,
              sizes: sizes,
              preload: true
          }}
        {%- else -%}
          <span class="h2">{{ shop.name }}</span>
        {%- endif -%}
      </div>
    </div>

    <div class="age-gate__content">
      <h2 class="age-gate__title">{{ settings.age_gate_title }}</h2>

      <div class="age-gate__message body">
        {{ settings.age_gate_message }}
      </div>

      <div class="age-gate__actions">
        <div class="age-gate__action">
          <input class="age-gate__action-input" id="AgeGateActionYes" type="radio" name="age-permitted" value="yes">
          <label for="AgeGateActionYes">{{ settings.age_gate_yes }}</label>
        </div>
        <div class="age-gate__action">
          <input class="age-gate__action-input" id="AgeGateActionNo" type="radio" name="age-permitted" value="no">
          <label for="AgeGateActionNo">{{ settings.age_gate_no }}</label>
        </div>
      </div>

      <div class="age-gate__button">
        <button class="button button--primary">
          {{ settings.age_gate_button_text }}
          {% render 'icon-arrow-right' %}
        </button>
      </div>

      <div class="age-gate__divider">
        <svg xmlns="http://www.w3.org/2000/svg" width="340" height="8" viewBox="0 0 340 8" fill="none">
          <rect x="0" y="3.5" width="158" height="1" fill="currentColor" fill-opacity="0.3"/>
          <path d="M170 0L174 4L170 8L166 4L170 0Z" fill="currentColor" fill-opacity="0.5"/>
          <rect x="182" y="3.5" width="158" height="1" fill="currentColor" fill-opacity="0.3"/>
        </svg>
      </div>

      <!-- Footer text -->
      <div class="age-gate__footer">
        {{ settings.age_gate_footer }}
      </div>
    </div>

    <div class="age-gate__denied hidden">
      <div class="age-gate__denied-content">
        <h2 class="age-gate__title">{{ settings.age_gate_deny_title }}</h2>
        <div class="age-gate__message">{{ settings.age_gate_deny_message }}</div>
      </div>
    </div>
  </form>
</age-gate>
