{%- assign unique_id = section.id | append: '-' | append: block.id | append: '-' | append: product.id -%}

{%- assign media = false %}

{%- if override_image -%}
  {%- assign media = override_image -%}
{%- elsif item.featured_media -%}
  {%- assign media = item.featured_media -%}
{%- elsif item.image -%}
  {%- assign media = item.image -%}
{%- endif -%}

{%- capture sizes -%}
  {%- if section.settings.layout == "large-width" or layout == "large-width" -%}
    (min-width: {{ settings.large_width }}px) calc(({{ settings.large_width }}px - {{ settings.spacing_column }}px) /
    {{ columns_desktop | default: 4 }}),
  {%- elsif section.settings.layout == "page-width" or layout == "page-width" -%}
    (min-width: {{ settings.page_width }}px) calc(({{ settings.page_width }}px - {{ settings.spacing_column }}px) /
    {{ columns_desktop | default: 4 }}),
  {%- endif -%}
  (min-width: 750px) calc((100vw - {{ settings.spacing_column }}px) / {{ columns_desktop | default: 4 }}), calc((100vw -
  {{ settings.spacing_column_mobile | divided_by: 2 }}px) / {{ columns_mobile | default: 2 }})
{%- endcapture %}

{%- capture bracket -%}
  <svg class='card__bracket' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
    <path d="M24 0H22V22H0V24H24Z" fill="currentColor"/>
  </svg>
{%- endcapture -%}

<card-component
  class="
    card
    {% if overlap_text_on_images %}card--overlap{% endif %}
    {% if small %}card--small{% endif %}
    {% if color_scheme %}color-{{ color_scheme }}{% endif %}
  "
>
  {%- capture image -%}
    <div class="card__image-wrapper">
      {{ bracket }}
      {{ bracket }}
      {{ bracket }}
      {{ bracket }}
      
      {% if settings.card_badge %}
        {%- if item.available == false -%}
          <span class="badge badge--text h6 special">
            {{ 'products.product.inventory_out_of_stock' | t }}
          </span>
        {%- endif -%}

        {%- if item.metafields.custom.image_badge != blank -%}
          <span class="badge badge--image h6 special">
            {{ item.metafields.custom.image_badge }}
          </span>
        {%- endif -%}

        {%- if item.metafields.custom.text_badge != blank -%}
          <span class="badge badge--text h6 special">
            {{ item.metafields.custom.text_badge }}
          </span>
        {%- endif -%}
      {% endif %}

      <div class="card__image-container">  
        <div
          class="media media--{{ aspect_ratio | default: settings.card_aspect_ratio }}"
          {% if settings.card_aspect_ratio == "adapt" %}
            style="padding-bottom: {{ 1 | divided_by: media.aspect_ratio | times: 100 }}%;"
          {% endif %}
        >
          {% if media %}
            <img
              srcset="
                {%- if media.width >= 180 -%}{{ media | image_url: width: 180 }} 180w,{%- endif -%}
                {%- if media.width >= 360 -%}{{ media | image_url: width: 360 }} 360w,{%- endif -%}
                {%- if media.width >= 540 -%}{{ media | image_url: width: 540 }} 540w,{%- endif -%}
                {%- if media.width >= 720 -%}{{ media | image_url: width: 720 }} 720w,{%- endif -%}
                {%- if media.width >= 900 -%}{{ media | image_url: width: 900 }} 900w,{%- endif -%}
                {%- if media.width >= 1080 -%}{{ media | image_url: width: 1080 }} 1080w,{%- endif -%}
                {{ media | image_url }} {{ media.width }}w
              "
              src="{{ media | image_url: width: 540 }}"
              sizes="{{ sizes }}"
              alt="{{ media.alt | escape }}"
              class="motion-reduce"
              loading="lazy"
              width="{{ media.width }}"
              height="{{ media.height }}"
            >
          {% endif %}
        </div>
      </div>

      {%- if type == 'product' and settings.enable_quickview %}
        {%- unless hide_quickview -%}
          <quickview-trigger
            data-product-handle="{{ item.handle }}"
            data-product-url="{{ item.url }}"
            class="card__quickview"
          >
            <button class="button button--secondary button--small">
              {{ 'quickview.trigger' | t }}
            </button>
          </quickview-trigger>
        {%- endunless -%}
      {%- endif -%}
    </div>
  {%- endcapture -%}

  <a class="card__link link--unstyled" href="{{ item.url | within: collection }}">
    {{ image }}
  </a>

  <div class="card__details">
    <div class="card__title">
      <span class="card__title-title">
        {%- if override_title != blank -%}
          {{ override_title }}
        {%- else -%}
          {{- item.title -}}
        {%- endif -%}
      </span>
    </div>

    {%- if item.metafields.custom.short_description != blank -%}
      {%- if settings.card_short_description -%}
        <div class="card__description-container">
          <div class="card__description body body--small">
            {{ item.metafields.custom.short_description }}
          </div>
        </div>
      {%- endif -%}
    {%- endif -%}

    {% if settings.card_price and item.price != blank %}
      {%- unless hide_price -%}
        {%- render 'price', product: item, class: 'card__price' -%}
      {%- endunless -%}
    {% endif %}

    {% if item.excerpt %}
      <div class="card__description-container">
        <div class="card__description body body--small">
          {{ item.excerpt | strip_html }}
        </div>
      </div>
    {% endif %}

    {%- if show_date or show_author -%}
      <div class="card__author body--xsmall">
        {%- if show_author -%}
          {{ item.author }}
        {%- endif -%}

        {% if show_date and show_author %}
          -
        {% endif %}

        {%- if show_date -%}
          {{ item.published_at | date: '%B %d, %Y' }}
        {%- endif -%}
      </div>
    {%- endif -%}
  </div>

  {%- if type == 'product' and settings.card_add_to_cart -%}
    <div class="card__actions">
      <div class="card__buy-buttons">
        {% render 'buy-buttons',
          block: block,
          product: item,
          product_form_id: unique_id,
          section_id: section.id,
          decoration: true,
          tight: true
        %}
      </div>
    </div>
  {%- endif -%}
</card-component>
