{% comment %}
  Renders a header search modal. Should be used with 'header.liquid'

  Accepts:
  - input_id: {String} Id for the search input element (required)

  Usage:
  {% render 'header_search', input_id: 'My-Id'%}
{% endcomment %}

<details-modal class="header__search {% if settings.search_inline %}hidden--desktop{% endif %}">
  <details>
    <summary
      aria-haspopup="dialog"
      aria-label="{{ 'general.search.search' | t }}"
      class="header__icon focus-inset"
    >
      {% render 'icon-search' %}

      <span>
        {{ 'general.search.search' | t }}
      </span>
    </summary>
    <div
      class="search-modal modal__content color-{{ section.settings.menu_color_scheme }} gradient"
      role="dialog"
      aria-modal="true"
      aria-label="{{ 'general.search.search' | t }}"
    >
      <div class="modal-overlay"></div>
      <div
        class="search-modal__content"
        tabindex="-1"
      >
        {%- if settings.predictive_search_enabled -%}
          <predictive-search
            class="search-modal__form page-width"
            data-loading-text="{{ 'accessibility.loading' | t }}"
          >
            {% render 'header_search-form' %}
          </predictive-search>
        {%- else -%}
          <search-form class="search-modal__form page-width">
            {% render 'header_search-form' %}
          </search-form>
        {%- endif -%}
      </div>
    </div>
  </details>
</details-modal>
