{% comment %}
  Renders a list of product's price (regular, sale)

  Accepts:
  - product: {Object} Product Liquid object (optional)
  - selected_variant: {Boolean} Renders variant price instead of overall product pricing (optional)
  - class: {String} Adds a price class to the price element (optional)

  Usage:
  {% render 'price', product: product %}
{% endcomment %}

{%- liquid
  assign lowest_price = 99999999
  assign highest_price = 0
  
  if selected_variant
    assign target = selected_variant

    assign lowest_price = target.price
    assign highest_price = target.price
  else
    assign target = product

    for variant in product.variants
      if variant.option1 == "50ml"
        continue
      endif

      if variant.price < lowest_price
        assign lowest_price = variant.price
      endif

      if variant.price > highest_price
        assign highest_price = variant.price
      endif
    endfor
  endif

  assign lowest_money_price = lowest_price | money

  if settings.currency_code_enabled
    assign lowest_money_price = lowest_money_price | money_with_currency
  endif

  if lowest_price == highest_price and lowest_price < target.compare_at_price
    assign compare_at_price = target.compare_at_price
    assign money_compare_at_price = compare_at_price | money

    if settings.currency_code_enabled
      assign money_compare_at_price = money_compare_at_price | money_with_currency
    endif
  endif 

  if lowest_price != highest_price
    assign money_price = 'products.product.price.from_price_html' | t: price: lowest_money_price
  else 
    assign money_price = lowest_money_price
  endif
-%}

{%- unless target == null -%}
  <div class="
      price
      {%- if class %} {{ class }}{% endif -%}
      {%- if compare_at_price > price  %} price--on-sale{% endif -%}
    ">
    <div class="price__sale">
      <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.sale_price' | t }}</span>
      <span class="price-item">
        {{ money_price | replace: '.00', '' }}
      </span>
    </div>

    {%- if compare_at_price %}
      <div class="price__regular gray">
        <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.regular_price' | t }}</span>
        <s class="price-item">
          {{ money_compare_at_price | replace: '.00', '' }}
        </s>
      </div>
    {%- endif -%}
  </div>
{% endunless %}
