{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'collapsible-content.css' | asset_url | stylesheet_tag }}

<footer
  id="{{ section.id }}"
  class="footer color-{{ section.settings.color_scheme }} gradient"
>
  <div
    class="page-width footer__blocks-wrapper {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    <div class="footer-blocks hidden--mobile">
      {%- for block in section.blocks -%}
        <div
          class="footer-block"
          {{ block.shopify_attributes }}
        >
          {%- if block.settings.heading != blank -%}
            <h2 class="footer-block__heading">{{- block.settings.heading -}}</h2>
          {%- endif -%}

          {%- case block.type -%}
            {%- when '@app' -%}
              {% render block %}
            {%- when 'link_list' -%}
              {%- if block.settings.menu != blank -%}
                <ul class="footer-block__list list--unstyled">
                  {%- for link in block.settings.menu.links -%}
                    <li>
                      <a href="{{ link.url }}" class="link link--text">
                        {{ link.title | escape }}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}

            {%- when 'connect' -%}
              <div class="footer__connect">
                <div class="footer__socials">
                  {% render 'social-icons' %}
                </div>
                <div class="footer__contact">
                  <div class="footer__contact-item">
                    <div class="footer__contact-item-heading">
                      {{ 'sections.footer.reservations' | t }}
                    </div>
                    <div class="footer__contact-item-content">
                      <a href="tel:{{ shop.phone }}" class="link link--text">
                        {{ shop.phone }}
                      </a>
                    </div>
                  </div>

                  <div class="footer__contact-item">
                    <div class="footer__contact-item-heading">
                      {{ 'sections.footer.email' | t }}
                    </div>
                    <div class="footer__contact-item-content">
                      <a href="mailto:{{ shop.email }}" class="link link--text">
                        {{ shop.email }}
                      </a>
                    </div>
                  </div>
                </div>
              </div>
          {%- endcase -%}
        </div>
      {%- endfor -%}
    </div>

    <div class="hidden--desktop footer__accordion">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'link_list' -%}
            <details class="footer__accordion-details" id="Details-{{ block.id }}-{{ section.id }}">
              <summary id="Summary-{{ block.id }}-{{ section.id }}">
                <div class="accordion__title h4">
                  {{- block.settings.heading | escape -}}
                </div>
                {% render 'icon-plus' %}
              </summary>
              <div
                id="CollapsibleAccordion-{{ block.id }}-{{ section.id }}"
                role="region"
                aria-labelledby="Summary-{{ block.id }}-{{ section.id }}"
              >
                {%- if block.settings.menu != blank -%}
                  <ul class="footer__accordion-list list--unstyled">
                    {%- for link in block.settings.menu.links -%}
                      <li>
                        <a href="{{ link.url }}" class="link link--text">
                          {{ link.title | escape }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
              </div>
            </details>

          {%- when 'connect' -%}
            <div class="footer__connect">
              <div class="footer__socials">
                {% render 'social-icons' %}
              </div>
              <div class="footer__contact">
                <div class="footer__contact-item">
                  <div class="footer__contact-item-heading">
                    {{ 'sections.footer.reservations' | t }}
                  </div>
                  <div class="footer__contact-item-content">
                    <a href="tel:{{ shop.phone }}" class="link link--text">
                      {{ shop.phone }}
                    </a>
                  </div>
                </div>

                <div class="footer__contact-item">
                  <div class="footer__contact-item-heading">
                    {{ 'sections.footer.email' | t }}
                  </div>
                  <div class="footer__contact-item-content">
                    <a href="mailto:{{ shop.email }}" class="link link--text">
                      {{ shop.email }}
                    </a>
                  </div>
                </div>
              </div>
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>

    <div class="footer__art-deco">
      {% render 'art-deco_footer' %}
    </div>
  </div>

  {%- if section.settings.content != blank -%}
    <div class="footer__content body body--small">
      {{ section.settings.content }}
    </div>
  {%- endif -%}

  {%- if section.settings.copywrite != blank or section.settings.subfooter_menu != blank -%}
    <div
      class="page-width subfooter"
      {% if settings.animations_reveal_on_scroll %}
        data-cascade
      {% endif %}
    >
      <p class="subfooter__copywrite">
        {{ section.settings.copywrite }}
      </p>

      <div class="subfooter__logo">
        <a href="{{ routes.root_url }}" class="link link--text focus-inset hidden--mobile">
          {%- if settings.logo_svg != blank -%}
            {{ settings.logo_svg }}
          {%- elsif settings.logo != blank -%}
            {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
            {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
            {% capture sizes %}(min-width: 750px) {{ settings.logo_width }}px, 50vw{% endcapture %}
            {% capture widths -%}
                {{- settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }},
                {{ settings.logo_width | times: 2 -}}
              {%- endcapture %}
            {{
              settings.logo
              | image_url: width: 600
              | image_tag:
                class: 'header__heading-logo',
                widths: widths,
                height: logo_height,
                width: settings.logo_width,
                alt: logo_alt,
                sizes: sizes,
                preload: true
            }}
          {%- else -%}
            <span class="h2">{{ shop.name }}</span>
          {%- endif -%}
        </a>

        <a href="{{ routes.root_url }}" class="link link--text focus-inset hidden--desktop">
          {%- if settings.logo_svg_mobile != blank -%}
            {{ settings.logo_svg_mobile }}
          {%- elsif settings.logo_mobile != blank -%}
            {%- assign logo_alt = settings.logo_mobile.alt | default: shop.name | escape -%}
            {%- assign logo_height = settings.logo_width_mobile | divided_by: settings.logo_mobile.aspect_ratio -%}
            {% capture sizes %}(min-width: 750px) {{ settings.logo_width_mobile }}px, 50vw{% endcapture %}
            {% capture widths -%}
                {{- settings.logo_width_mobile }}, {{ settings.logo_width_mobile | times: 1.5 | round }},
                {{ settings.logo_width_mobile | times: 2 -}}
              {%- endcapture %}
            {{
              settings.logo_mobile
              | image_url: width: 600
              | image_tag:
                class: 'header__heading-logo',
                widths: widths,
                height: logo_height,
                width: settings.logo_width,
                alt: logo_alt,
                sizes: sizes,
                preload: true
            }}
          {%- else -%}
            <span class="h2">{{ shop.name }}</span>
          {%- endif -%}
        </a>
      </div>

      {%- if section.settings.subfooter_menu != blank -%}
        <ul class="subfooter__menu list--unstyled">
          {%- for link in section.settings.subfooter_menu.links -%}
            <li class="subfooter__menu-item">
              <a href="{{ link.url }}" class="link link--text">
                {{ link.title | escape }}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
    </div>
  {%- endif -%}
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "connect",
      "name": "Connect",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__9.content",
      "info": "t:sections.footer.settings.header__9.info"
    },
    {
      "type": "header",
      "content": "Subfooter settings"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "text",
      "id": "copywrite",
      "label": "Copywrite"
    },
    {
      "type": "link_list",
      "id": "subfooter_menu",
      "label": "Subfooter menu"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "link_list"
      }
    ]
  }
}
{% endschema %}
